/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
 @font-face {
    font-family: 'Coolvetica';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/coolvetica.otf');
}
 /**
=========================
	- Color Palletes
=========================
*/
$color-black: #231F20;
$color-primary: #FED141;
 /**
=========================
	- Typography
=========================
*/
$font-heading: 'Coolvetica';
$font-default: 'Barlow', sans-serif;